{% extends layout_template %}

{% block head_title %}Add - Stage{% endblock %}

{% block content %}

<h1>Add - Stage</h1>

<p>Add a new stage</p>

<form action="" method="post">
    {% csrf_token %}
    <div class="input-style">
        {{ form.cycle.label_tag }}
        {{ form.cycle }}
        {{ form.cycle.errors }}
    </div>

    <div class="input-style">
        {{ form.title.label_tag }}
        {{ form.title }}
        {{ form.title.errors }}
    </div>
    <input type="submit" value="Add" />
</form>

{% endblock %}
