{% extends layout_template %}

{% block head_title %}Add notification{% endblock %}

{% block content %}

<h1>Add notification</h1>

<p>The email templates are grouped by notification. Add a new notification in order to manage the email
    templates and companies.
</p>

<form action="" method="post">
    {% csrf_token %}
    <div class="input-style">
        {{ form.cycle.label_tag }}
        {{ form.cycle }}
        {{ form.cycle.errors }}
    </div>

    <div class="input-style">
        {{ form.title.label_tag }}
        {{ form.title }} <i>e.g. Invitation</i>
        {{ form.title.errors }}
    </div>
    <p>* All fields are mandatory.</p>
    <input type="submit" value="Add notification" />
    <a href="{% url 'notifications:cycle:view' cycle.id %}">Cancel</a>
</form>

{% endblock %}
