*.py[cod]
*.so
.DS_Store

db.sqlite3
.secret

*.log
localsettings.py
localsettings_test.py

# static folder
/static/

# virtualenv
sandbox/
virtualenv/
/bin/
/include/
/lib/
pip-selfcheck.json

# IDE
.idea/
.vscode/

.coverage
.skip-loaddata

# Docker
docker-compose.override.yml
docker/app.env
docker/init.sql
docker/redis.env
/.venv/
