header {
    margin: 20px 0;
    padding: 0 0 20px;
    border-bottom: 1px solid #ddd;
}

footer {
    margin: 20px 0;
    padding: 20px 0 0;
    border-top: 1px solid #ddd;
}

.clear {
    clear: both;
}

nav.breadcrumbs {
    margin: 0 0 20px;
    font-size: 12px;
    line-height: 18px;
}

nav.breadcrumbs ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav.breadcrumbs ul li {
    display: inline;
}

nav.breadcrumbs ul li::after {
    color: #000;
    content: "\203A";
    padding: 0 10px;
}

nav.breadcrumbs ul li:last-child::after {
    content: "";
    padding: 0;
}

nav.breadcrumbs ul li a {
    text-decoration: none;
    color: #2a6495;
}

div.cycle-stage {
    padding: 5px;
    background-color: #efefef;
}

div.cycle-stage p {
    margin: 0;
}

div.cycle-actions {
    float: right;
    margin: 4px 0 0;
    color: #fff;
}

div.stage-add a,
div.cycle-actions a {
    margin: 0;
    padding: 3px 10px;
    background-color: #6db449;
    border: 1px solid #5c993e;
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    border-radius: 3px;
}

div.preview-body {
    margin: 10px 0 10px 100px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
}

table.brn-table {
    width: 100%;
    border: 0;
    margin: 0;
    padding: 0;
    outline: 0;
    border-collapse: collapse;
    border-spacing: 0;
}

table.brn-table th {
    margin: 0;
    padding: 5px;
    outline: 0;
    background-color: #fff;
    text-align: left;
    border-bottom: 2px solid #ddd;
}

table.brn-table td {
    border: 0;
    margin: 0;
    padding: 5px;
    outline: 0;
    border-bottom: 1px solid #eee;
}

table.brn-table td.actions {
    width: 25%;
    text-align: left;
}

table.brn-table td.actions a {
    margin: 0 10px 0 0;
    color: #2a6495;
}

table.brn-table th.user {
    width: 30%;
}

table.brn-table th.company {
    width: 35%;
}

table.brn-table th.contact {
    width: 35%;
}

input[type='submit'] {
    background-color: #3065a6;
    border: 1px solid #3065a6;
    color: #fff;
    border-radius: 3px;
    padding: 3px 7px;
    font-size: 12px;
}

input.my-input {
    margin-left: 57px;
    width: 300px
}

a.iter {
    margin: 0 5px;
}

form input[name='subject'] {
    height: 30px;
    width: 100%;
}

.warning {
    color: #cc3300;
}