UWSGI_PORT=12301
SECRET_KEY=secret

DEBUG=True
DJANGO_MIGRATE=no
DJANGO_COLLECT_STATIC=no
DJANGO_LOAD_FIXTURES=no

ALLOWED_HOSTS=['*']

MAIL_HOST=postfix:25

SENTRY_DSN=
SENTRY_PUBLIC_DSN=

DATABASES_ENGINE=django.db.backends.postgresql_psycopg2
DATABASES_NAME=bdr_registry_notifications
DATABASES_USER=bdr
DATABASES_PASSWORD=test
DATABASES_HOST=postgres

FRAME_URL=
FRAME_VERIFY_SSL=False
FRAME_COOKIES=

BDR_REGISTRY_URL=
BDR_REGISTRY_TOKEN=


USE_SIDEMENU=True
BDR_SIDEMENU_URL=
BDR_API_USER=
BDR_API_PASSWORD=

BDRREGISTRY_URL=
USE_ZOPE_LAYOUT=True

EMAIL_HOST=postfix
EMAIL_PASS=
EMAIL_SENDER=
BCC=mail.test@mail.com

ECR_REGISTRY_URL=
ECR_COMPANY_PATH=
ECR_PERSON_PATH=
ECR_REGISTRY_TOKEN=
ECR_DOMAINS=FGAS,ODS
ECR_ACCEPTED_COMPANIES_STATUS=VALID,REVISION
