UWSGI_PORT=12301
SECRET_KEY=secret

DEBUG=True
DJANGO_MIGRATE=no
DJANGO_COLLECT_STATIC=no
ALLOWED_HOSTS=['*']

SENTRY_DSN=
SENTRY_PUBLIC_DSN=

DATABASES_ENGINE=django.db.backends.postgresql_psycopg2
DATABASES_NAME=bdr_registry_notifications
DATABASES_USER=bdr
DATABASES_PASSWORD=test
DATABASES_HOST=postgres

FRAME_URL=
FRAME_VERIFY_SSL=False
FRAME_COOKIES=

BDR_REGISTRY_URL=
BDR_REGISTRY_USERNAME=
BDR_REGISTRY_PASSWORD=

BDRREGISTRY_URL=
USE_ZOPE_LAYOUT=True

EMAIL_HOST=postfix
EMAIL_PASS=
EMAIL_SENDER=

ECR_REGISTRY_URL=
ECR_COMPANY_PATH=
ECR_PERSON_PATH=
ECR_REGISTRY_TOKEN=
ECR_DOMAINS=FGAS,ODS
