{% extends layout_template %}

{% block head_title %}Edit - {{ template.emailtemplate }} - Reporting cycle for year
  {{ template.cycle.year }} - {% endblock %}

{% block content %}

<h1>Email {{ template.stage|lower }} for {{ template.group }}</h1>

{% with params=template.get_parameters %}
  {% if params %}
    <p>Parameters:</p>
    <ul>
      {% for param in params %}
        <li>{{ param }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<form action="" method="post">
  {% csrf_token %}
  {{ form.media }}
  {{ form.as_p }}
  <input type="submit" value="Save"/>
  <a href="{% url 'notifications:template:view' template.pk %}">Cancel</a>
</form>

{% endblock %}
