{% extends layout_template %}

{% block head_title %}
  Email template for {{ template.group }} obligation ({{ template.stage}}, {{ template.stage.cycle.year }})
{% endblock %}

{% block content %}

<h1>Email template for {{ template.group }} obligation ({{ template.stage }}, {{ template.stage.cycle.year }})</h1>

<p> Add a subject and an email body for the current notification.
    The following parameters can be used in subject and body with the format <i>{parameter}</i>:
{% with params=template.get_parameters %}
  {% if params %}
      {% for param in params %}
        <small>{{ param }}</small> {% if not forloop.last %}, {% endif %}
      {% endfor %}
  {% endif %}
{% endwith %}
<small>(e.g {COUNTRY} OR {CONTACT})</small>. When ready press the "Continue" button.
</p>

<form action="" method="post">
  {% csrf_token %}
  {{ form.media }}

  {% for field in form %}
    <div class="fieldWrapper">
        <p class="bold">{{ field.errors }}</p>
        <p class="bold">{{ field.label_tag }}</p>
        <p class="bold">{{ field }}</p>
        <p class="bold">
          {% if field.help_text %}
          <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
        </p>
    </div>
  {% endfor %}
  <p>* All fields are mandatory.</p>
  <input type="submit" value="Continue"/>
  <a href="{% url 'notifications:template:view' template.pk %}">Cancel</a>
</form>

{% endblock %}
