{% extends layout_template %}

{% block head_title %}{{ template.emailtemplate }} - Reporting cycle for year {{ template.cycle.year }} - {% endblock %}

{% block content %}

<h1>{{ template.emailtemplate }}</h1>
<p>This email was sent {{ counter }} times.</p>
<h2>Subject</h2>
<div class="preview-body">{{ template.subject }}</div>

<h2>Body</h2>
<div class="preview-body">{{ template.body_html|safe }}</div>
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Resend email to {{ person.email }}" />
</form>
{% endblock %}
