{% extends layout_template %}

{% block content %}

  <p>Company: {{ company.name }}</p>
  <p>VAT: {{ company.vat }}</p>
  <p>Country: {{ company.country }}</p>
  <p>Group: {{ company.group }}</p>

  <table id="myTable" class="brn-table">
    <thead>
    <tr>
      <th>Username</th>
      <th>Name</th>
      <th>Email</th>
      <th>Sent</th>
    </tr>
    </thead>
    {% for cycle in cycles %}
      {% for stage in cycle.stages.all %}
        <tbody>
        <tr>
          <th colspan="4">Cycle: {{ cycle }} - Stage: {{ stage }}</th>
        </tr>
        {% for person in company.users.all %}
          <tr>
            <td>{{ person.username }}</td>
            <td>{{ person.name }}</td>
            <td>{{ person.email }}</td>
            <td>
              {% if stage in person.stages %}
{#                <a href="{% url 'notifications:template:resend' stage.email_template_id company.id obj.person.id %}">#}
                  &#10004;
{#                </a>#}
              {% else %}
                &#10006;
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      {% endfor %}
    </tbody>
    {% endfor %}
  </table>

{% endblock %}
