{% extends layout_template %}

{% block content %}
  <h1>Statistics for {{ company.name }}</h1>

  <h2>Company details</h2>

  <p>Company: {{ company.name }}</p>
  <p>VAT: {{ company.vat }}</p>
  <p>Country: {{ company.country }}</p>
  <p>Obligation: {{ company.group }}</p>
  {% if company.group.id ==  3 %}
  <p>Representing Organisation name: {{ company.representative_name }}</p>
  <p>Representing Organisation VAT: {{ company.representative_vat }} </p>
  <p>Representing Organisation country: {{ company.representative_country_name }}</p>
  {% endif %}

  <h2>Reporting cycles</h2>
  {% if cycles %}
    {% for cycle in cycles %}
      {% for stage in cycle.stages.all %}
        <h4>{{ stage }}, {{ cycle.year }}</h4>
        <table id="myTable" class="brn-table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Sent</th>
            </tr>
          </thead>
          <tbody>
          {% for person in company.users.all %}
            <tr>
              <td>{{ person.name }}</td>
              <td>{{ person.email }}</td>
              <td>
                {% if stage in person.stages %}
  {#                <a href="{% url 'notifications:template:resend' stage.email_template_id company.id obj.person.id %}">#}
                    &#10004;
  {#                </a>#}
                {% else %}
                  &#10006;
                {% endif %}
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      {% endfor %}
    {% endfor %}
  {% else %}
    <p>No reporting cycles available.</p>
  {% endif %}
{% endblock %}
