{% extends layout_template %}
{% load static %}

{% block head_title %}
  Filter companies for {{ template.group }} obligation ({{ template.stage }}, {{ template.stage.cycle.year }})
{% endblock %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.dataTables.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/dataTables.bootstrap.css' %}">
{% endblock %}

{% block content %}

  <h1>
    Filter companies for {{ template.group }} obligation ({{ template.stage }}, {{ template.stage.cycle.year }})
  </h1>

  <h2>Send notifications</h2>
  {% if template.status == template.SENT %}
    <p>
      The notifications were already sent. Please use the table below to see the list of contacted companies.
    </p>
  {% elif template.status == template.PROCESSING %}
    <p>
      This notification is currently in progress. Check back here in a few minutes to review the
      list of contacted users.
    </p>
  {% else %}
    <p>
      Send email notification to all companies reporting under {{ template.group }} obligation
      ({{ template.stage }}, {{ template.stage.cycle }}).
      Please review the list of contacts bellow before sending the emails. All emails will be sent in
      BCC to <i>{{ bcc_email_address }}</i>.
    </p>

    <form action="" method="post" id="send-emails">
      {% csrf_token %}
      <input type="text" name="recipients" value="{{ recipient_json|safe }}" hidden readonly/>
      <input type="submit" value="Send {{ no_of_emails }} emails."/>
    </form>
    <h2>Filter companies</h2>
    {% if companies_filtered %}
      <p class="bold">Companies have been filtered using the provided file.</p>
      {% if not_found_companies %}
        <div class="warning">
          Warning! Could not find {{ not_found_companies|length }} company ids:
        </div>
        <ul>
          {% for company_id in not_found_companies %}
            <li>{{ company_id }}</li>
          {% endfor %}
        </ul>
      {% endif %}

      <a class="a-no-style" href="{% url 'notifications:template:trigger' template.id %}">
        <input type="button" value="Reset filtering"/>
      </a>
    {% else %}
      <p>
        Upload a CSV file containing the list of companies IDs to be notified. The filtered list will be
        displayed in the section below.
      </p>
      <div>
          <form action="" method="POST" id="filter-with-csv" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="csv_file" value="csv_file" required/>
            <input type="submit" value="Filter companies"/>
          </form>
      </div>
    {% endif %}
    <br/>

  {% endif %}

  {% if template.status == template.SENT %}
    <h2>Sent emails</h2>
  {% elif template.status == template.DRAFT %}
    <h2>Review contacts</h2>
  {% endif %}

  {% if template.status == template.SENT or template.status == template.DRAFT %}
    <table id="myTable" class="brn-table">
      <thead>
      <tr>
        <th>Company ID</th>
        <th>Company</th>
        <th>Person</th>
        <th>Email</th>
      </tr>
      </thead>
      <tbody>
      {% for company in companies %}
        {% for person in company.active_users %}
          <tr>
            <td>
              {{ company.external_id }}
            </td>
            <td>
              {{ company.name }}
            </td>
            <td>
              {{ person.name }}
            </td>
            <td>
              {{ person.email }}
            </td>
          </tr>
        {% endfor %}
      {% endfor %}
      </tbody>
    </table>
  {% endif %}

{% endblock %}

{% block scripts %}
  <script src="{% static 'js/jquery.dataTables.js' %}"></script>

  <script>
	$(document).ready(function () {
		var table = $("#myTable").DataTable();

		$("#myInputTextField").on("keyup change", function () {
			table.search($(this).val()).draw();
		});
	});
  </script>

{% endblock %}
