{% extends layout_template %}
{% load static %}

{% block head_title %}
  Trigger - {{ template.group }} - Reporting cycle for year {{ template.stage.cycle }} -
{% endblock %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.dataTables.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/dataTables.bootstrap.css' %}">
{% endblock %}

{% block content %}

  <h1>
    Trigger - {{ template.group }} - Reporting cycle for year {{ template.stage.cycle }} -
  </h1>

  <h2>Send notifications</h2>
  {% if template.is_triggered %}
    <p>
      This stage has been triggered. You can review the users contacted during this stage here.
    </p>
  {% else %}
    <p>
      Trigger notification for {{ template.group }}
      for {{ template.stage }}-{{ template.stage.cycle }}.
      Please review the list of contacts bellow before sending the notification. You can filter
      the list if required.
    </p>
    <form action="" method="post" id="send-emails">
      {% csrf_token %}
      <input type="text" name="recipients" value="{{ recipient_json|safe }}" hidden readonly/>
      <input type="submit" value="Send {{ recipients|length }} emails."/>
    </form>
    <h2>Filter companies</h2>
    {% if companies_filtered %}
      <p>Companies have been filtered using the provided file</p>
      {% if not_found_companies %}
        <div class="warning">
          Warning! Could not find {{ not_found_companies|length }} company ids:
        </div>
        <ul>
          {% for company_id in not_found_companies %}
            <li>{{ company_id }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% else %}
      Upload a list of company IDs to filter the results.
    {% endif %}
    <br/>
    <div>
      <form action="" method="POST" id="filter-with-csv" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="csv_file" value="csv_file" required/>
        <input type="submit" value="Filter companies"/>
      </form>
    </div>
  {% endif %}

  {% if template.is_triggered %}
    <h2>Sent emails</h2>
  {% else %}
    <h2>Review contact list</h2>
  {% endif %}

  <table id="myTable" class="brn-table">
    <thead>
    <tr>
      <th>Company</th>
      <th>Person</th>
      <th>Email</th>
    </tr>
    </thead>
    <tbody>
    {% for person in recipients %}
        <tr>
          <td>{{ person.company }}</td>
          <td>{{ person.name }}
          </td>
          <td>
            {{ person.email }}
          </td>
        </tr>
    {% endfor %}
    </tbody>
  </table>

{% endblock %}

{% block scripts %}
  <script src="{% static 'js/jquery.dataTables.js' %}"></script>

  <script>
	$(document).ready(function () {
		var table = $("#myTable").DataTable();

		$("#myInputTextField").on("keyup change", function () {
			table.search($(this).val()).draw();
		});
	});
  </script>

{% endblock %}
