{% extends layout_template %}
{% load static %}

{% block head_title %}
  Trigger - {{ template.group }} - Reporting cycle for year {{ template.stage.cycle }} -
{% endblock %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.dataTables.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/dataTables.bootstrap.css' %}">
{% endblock %}

{% block content %}

  <h1>Trigger - {{ template.emailtemplate }}</h1>

  <h2>Send notifications</h2>
  {% if template.is_triggered %}
    <p>This stage has been triggered.</p>
  {% else %}
    <form action="" method="post" id="send-emails">
      {% csrf_token %}
      <input type="text" name="recipients" value="{{ recipient_json|safe }}" hidden readonly/>
      <input type="submit" value="I Understand, send {{ recipients|length }} emails."/>
    </form>
    <br/>
    {% if companies_filtered %}
      <p>Companies have been filtered using the </p>
    {% endif %}

    <form action="" method="POST" id="filter-with-csv" enctype="multipart/form-data">
      {% csrf_token %}
      <input type="file" name="csv_file" value="csv_file" required/>
      <input type="submit" value="Filter companies"/>
    </form>
  {% endif %}

  {% if template.is_triggered %}
    <h2>Sent emails</h2>
  {% else %}
    <h2>Review contact list</h2>
  {% endif %}

  <table id="myTable" class="brn-table">
    <thead>
    <tr>
      <th>Company</th>
      <th>Person</th>
      <th>Email</th>
    </tr>
    </thead>
    <tbody>
    {% for company in companies %}
      {% for person in company.user.all %}
        <tr>
          <td>{{ company.name }}</td>
          <td>{{ person.name }}
          </td>
          <td>
            {{ person.email }}
          </td>
        </tr>
      {% endfor %}
    {% endfor %}
    </tbody>
  </table>

{% endblock %}

{% block scripts %}
  <script src="{% static 'js/jquery.dataTables.js' %}"></script>

  <script>
	$(document).ready(function () {
		var table = $("#myTable").DataTable();

		$("#myInputTextField").on("keyup change", function () {
			table.search($(this).val()).draw();
		});
	});
  </script>

{% endblock %}
