{% extends layout_template %}

{% block head_title %}
  Email template for {{ template.group }} obligation ({{ template.stage }}, {{ template.stage.cycle.year }})
{% endblock %}

{% block content %}

<h1>Email template for {{ template.group }} obligation ({{ template.stage }}, {{ template.stage.cycle.year }})</h1>

<p>Use this form to see how the companies will see the emails. Edit the email template as you like and be sure to
   test it before sending the emails. When ready, filter the companies and start sending the emails.
</p>
<h2>Subject</h2>
<div class="preview-body">{{ template.subject }}</div>

<h2>Body</h2>
<div class="preview-body">{{ template.body_html|safe }}</div>

<h5>Last updated: {{ template.last_action.history_date.date }}</h5>

{% if template.is_triggered %}
  <a href="{% url 'notifications:template:trigger' object.id %}"><input type="button" value="View details" /></a>
{% else %}

  <span class="spacing">
    <a class="a-no-style button" href="{% url 'notifications:template:edit' object.id %}">Edit template</a>
    <a class="a-no-style button" href="{% url 'notifications:template:test' object.id %}">Test email</a>
    <a class="a-no-style button" href="{% url 'notifications:template:trigger' object.id %}">
      Filter companies and send emails
    </a>
  </span>
  <a class="horizontal-spacing" href="{% url 'notifications:cycle:view' object.id %}">
      Back
  </a>
{% endif %}

{% endblock %}
