{% if object.can_edit or object.can_trigger %}
	<div class="cycle-actions">
		{% if page != 'view' %}
			<a href="{% url 'notifications:cycle:view' object.id %}">View</a>
		{% endif %}
	</div>
{% endif %}

<div class="cycle-stage">
	<p>
		Cycle stage: <strong>{{ object.stage }}</strong>.
		Closing on: <strong>{{ object.closing_date }}</strong>.<br />
		<small>
			{% with last_action=object.last_action %}
				<strong>{{ last_action.get_history_type_display }}</strong>
				on <strong>{{ last_action.history_date }}</strong>
				by <strong>{{ last_action.history_user }}</strong>.
			{% endwith %}
		</small>
	</p>
</div>

<div class="clear"></div>
