{% extends layout_template %}
{% load static %}

{% block head_title %}Add - Reporting cycle - {% endblock %}

{% block head %}
<script src="{% static 'js/jquery-ui.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">

{% endblock %}
{% block content %}

<h1>Add - Reporting cycle</h1>

<form action="" method="post">
    {% csrf_token %}
    <div class="input-style">
        {{ form.year.label_tag }}
        {{ form.year }}
        {{ form.year.errors }}
    </div>

    <div class="input-style">
        <label for="id_closing_date">Closing date:</label>
        <input class="datepicker" type="text" name="closing_date" required="" id="id_closing_date" autocomplete="off">
        {{ form.data.errors }}
    </div>

    <input type="submit" value="Add" />
</form>

{% endblock %}

{% block style %}
<script>
    $( function() {
        $( ".datepicker" ).datepicker();
    });
</script>
{% endblock %}
