{% extends layout_template %}

{% block head_title %}Trigger - Reporting cycle for year {{ cycle }} - {% endblock %}

{% block content %}

<h1>Trigger - Reporting cycle for year {{ cycle }}</h1>

{% include 'notifications/cycle/actions.html' with object=cycle page='trigger' %}

<p>Explanatory text here.</p>

<h2>Send notifications</h2>

<p>WIP</p>

<h2>Sent emails - {{ cycle.stage }}</h2>

<table class="brn-table">
	<thead>
		<tr>
			<th>Group</th>
			<th>To</th>
			<th>Sent date</th>
		</tr>
	</thead>
	<tbody>
		{% for notification in notifications %}
			<tr>
				<td>{{ notification.group }}</td>
				<td>{{ notification.email }}</td>
				<td>{{ notification.sent_date }}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

{{ view.test_get_companies }}

{% endblock %}
