{% extends layout_template %}

{% block head_title %}Reporting cycle for year {{ cycle }} - {% endblock %}

{% block content %}

<h1>Reporting cycle for year {{ cycle }}</h1>

{% include 'notifications/cycle/actions.html' with object=cycle page='view' %}

<p>Explanatory text here.</p>

<h2>List of notifications email templates</h2>

<p>Explanatory text here.</p>

<table class="brn-table">
	<thead>
		<tr>
			<th>Group</th>
			<th>Stage</th>
			<th>Is triggered?</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for template in templates %}
			<tr>
				<td>{{ template.group }}</td>
				<td>{{ template.stage }}</td>
				<td>{{ template.is_triggered|yesno:"YES,no" }}</td>
				<td class="actions">
					<a href="{% url 'notifications:template:view' template.pk %}">View</a>
					{% if template.can_edit %}
						<a href="{% url 'notifications:template:edit' template.pk %}">Edit</a>
					{% endif %}
					<a href="{% url 'notifications:template:test' template.pk %}">Test</a>
					{% if template.can_trigger %}
						<a href="{% url 'notifications:template:trigger' template.pk %}">Trigger</a>
					{% endif %}
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}
