{% extends layout_template %}

{% block head_title %}Reporting cycle for {{ cycle }} - {% endblock %}

{% block content %}

  <h1>Reporting cycle for {{ cycle }}</h1>

  <p>Manage the notifications for each obligation. The obligations are predefined and for each of them you can see
     the status, edit the email template and start sending the emails.
  </p>

  {% for stage in cycle.stages.all %}
    <h2>{{ stage }}</h2>

    <table class="brn-table">
      <thead>
      <tr>
        <th>Obligation</th>
        <th>Status</th>
        <th>Last updated</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      {% for template in stage.templates.all %}
        <tr>
          <td>
            {{ template.group }}
          </td>
          <td>
            <span
              {% if template.get_status_display == 'sent' %}
              class="badge badge-success"
              {% elif template.get_status_display == 'draft' %}
              class="badge badge-light"
              {% else %}
              class="badge badge-warning"
              {% endif %}
              >{{  template.get_status_display }}
            </span>
          </td>
          <td>{{ template.last_action.history_date.date }}</td>
          <td>
            <div class="btn btn-default">
              {% if template.status == template.DRAFT %}
                <a href="{% url 'notifications:template:edit' template.pk %}">Edit and send</a>
              {% else %}
                <a href="{% url 'notifications:template:view' template.pk %}">View</a>
              {% endif %}
            </div>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% empty %}
    No notifications defined for this cycle.
  {% endfor %}
  <div class="spacing">
      <a class="a-no-style button" href="{% url 'notifications:cycle:stage_add' pk=cycle.pk %}">Add notification</a>
  </div>
{% endblock %}
