{% extends layout_template %}

{% load notifications_extras %}

{% load static %}

{% block head_title %}
  Statistics
{% endblock %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.dataTables.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/dataTables.bootstrap.css' %}">
{% endblock %}

{% block content %}

<h1>Statistics</h1>
<p>Use this page to find email notifications sent to companies reporting under a specific obligation.</p>
{% with groups=view.get_groups %}

<p style="display: inline">Choose obligation: </p>
<select id="obligations">
  {% for group in groups %}
    <option value="#{{ group.code }}">{{ group.title }}</option>
  {% endfor %}
</select>
<input class="button" id="button" type="button" value="Display companies" />

{% for group in groups %}
  <div id={{ group.code }}>
    <h2 id="{{ group.code }}">{{ group.title }} obligation</h2>
    {% get_group_companies view group.code as items %}
    {% include 'notifications/_page_controls.html' with items=items %}
    <table id="{{ group.code }}-table" class="brn-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>VAT</th>
          <th>Country</th>
        </tr>
      </thead>
      <tbody>
        {% for item in items %}
          <tr>
            <td>{{ item.external_id }}</td>
            <td><a href="{% url 'notifications:template:sent_notifications' group.pk item.id %}">{{ item.name }}</a></td>
            <td>{{ item.vat|default_if_none:'' }}</td>
            <td>{{ item.country }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endfor %}

{% endwith %}

{% endblock %}

{% block scripts %}
  <script src="{% static 'js/jquery.dataTables.js' %}"></script>

  <script>
    $(document).ready(function () {
      var cars_table = $('#cars-table').DataTable();
      var vans_table = $('#vans-table').DataTable();
      var ods_table = $('#ods-table').DataTable();
      var fgas_eu_table = $('#f-gases-eu-table').DataTable();
      var fgas_noneu_table = $('#f-gases-noneu-table').DataTable();

      $('#myInputTextField').on('keyup change', function () {
        ods_table.search($(this).val()).draw();
        fgas_eu_table.search($(this).val()).draw();
        fgas_noneu_table.search($(this).val()).draw();
      });

      $('#vans').hide();
      $('#cars').hide();
      $('#f-gases-noneu').hide();
      $('#ods').hide();

      $('#button').click(function () {
        var selectedOption = $('#obligations :selected').text();

        switch (selectedOption) {
          case 'F-gases EU':
            $('#f-gases-eu').show();
            $('#cars').hide();
            $('#vans').hide();
            $('#ods').hide();
            $('#f-gases-noneu').hide();
            break;
          case 'F-gases NONEU':
            $('#f-gases-noneu').show();
            $('#ods').hide();
            $('#cars').hide();
            $('#vans').hide();
            $('#f-gases-eu').hide();
            break;
          case 'ODS':
            $('#ods').show();
            $('#cars').hide();
            $('#vans').hide();
            $('#f-gases-eu').hide();
            $('#f-gases-noneu').hide();
            break;
          case 'Cars':
            $('#ods').hide();
            $('#cars').show();
            $('#vans').hide();
            $('#f-gases-eu').hide();
            $('#f-gases-noneu').hide();
            break;
          default:
            $('#ods').hide();
            $('#vans').show();
            $('#cars').hide();
            $('#f-gases-eu').hide();
            $('#f-gases-noneu').hide();
        }
      });
    });
  </script>

{% endblock %}
