{% extends layout_template %}

{% load notifications_extras %}

{% block content %}

<h1>Companies</h1>

{% with groups=view.get_groups %}

<p>
	You can find below the companies listed by group:
	{% for group in groups %}
		<a href="#{{ group.code }}" class="iter">{{ group.title }}</a>
	{% endfor %}
</p>

{% for group in groups %}
	<h2 id="{{ group.code }}">{{ group.title }}</h2>
	{% get_group_companies group as items %}
	<div class="cycle-stage">
		{{ items|length }} companies in registry.
	</div>

	<table class="brn-table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>VAT</th>
				<th>Country</th>
				<th>Contact</th>
			</tr>
		</thead>
		<tbody>
			{% for item in items %}
				<tr>
					<td>{{ item.external_id }}</td>
					<td>{{ item.name }}</td>
					<td>{{ item.vat|default_if_none:'' }}</td>
					<td>{{ item.country }}</td>
					<td>
						<ul>
							{% for user in item.person_set.all %}
								<li>
									<a href="{% url 'notifications:persons' %}#{{ user.username }}" target="_blank">{{ user.name }}</a>
									<small>({{ user.email }})</small>
								</li>
							{% endfor %}
						</ul>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endfor %}

{% endwith %}

{% endblock %}
