{% extends layout_template %}

{% block content %}
<div class="cycle-actions">
  <a href="{% url 'notifications:cycle:add' %}">Add new reporting cycle</a>
</div>

<h1>Welcome to BDR Registry Notifications</h1>

<div class="clear"></div>

<p>Explanatory text here.</p>

<h2>Reporting cycles</h2>

<table class="brn-table">
	<thead>
		<tr>
			<th>Year</th>
			<th>Closing date</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for item in items %}
			<tr>
				<td>{{ item }}</td>
				<td>{{ item.closing_date }}</td>
				<td class="actions">
					<a href="{% url 'notifications:cycle:view' item.id %}">View</a>
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}
