{% extends layout_template %}

{% block content %}


<h1>BDR Registry Notifications</h1>

<p>Send notifications (invitations, reminders, warnings, etc.) to the
   companies reporting under FGAS/ODS/Cars and Vans obligations using custom email templates.
   Please add a reporting cycle before sending the notifications.</p>

<h2>Reporting cycles</h2>
{% if items %}
	<table class="brn-table">
		<thead>
			<tr>
				<th>Year</th>
				<th>Closing date</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for item in items %}
				<tr>
					<td>{{ item }}</td>
					<td>{{ item.closing_date }}</td>
					<td>
						<div class="btn btn-default">
							<a href="{% url 'notifications:cycle:view' item.id %}">Manage notification</a>
						</div>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% else %}
	<p>No reporting cycles available.</p>
{% endif %}

<div class="cycle-actions spacing">
	<a class="a-no-style button" href="{% url 'notifications:cycle:add' %}">
		Add reporting cycle
	</a>
</div>

{% endblock %}
