{% extends layout_template %}

{% block content %}

{% with can_add_cycle_=view.can_initiate_new_cycle %}
	{% if can_add_cycle_%}
		<div class="cycle-actions">
			<a href="{% url 'notifications:cycle_add' %}">Add new reporting cycle</a>
		</div>
	{% endif %}
{% endwith %}

<h1>Welcome to BDR Registries Notifications</h1>

<div class="clear"></div>

<p>Explanatory text here.</p>

<h2>Reporting cycles</h2>

<table class="brn-table">
	<thead>
		<tr>
			<th>Year</th>
			<th>Stage</th>
			<th>Closing date</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for item in items %}
			<tr>
				<td>{{ item }}</td>
				<td>{{ item.stage }}</td>
				<td>{{ item.closing_date }}</td>
				<td class="actions">
					<a href="{% url 'notifications:cycle_view' item.id %}">View</a>
					{% if item.can_edit %}
						<a href="{% url 'notifications:cycle_edit' item.id %}">Edit</a>
					{% endif %}
					{% if item.can_trigger %}
						<a href="{% url 'notifications:cycle_trigger' item.id %}">Trigger</a>
					{% endif %}
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}
