{% extends layout_template %}

{% block head_title %}Edit - {{ view.object.emailtemplate }} - Reporting cycle for year {{ view.object.cycle.year }} - {% endblock %}

{% block content %}

<h1>Edit - {{ view.object.emailtemplate }}</h1>

{% include 'notifications/emailtemplate_actions.html' with object=view.object page='edit' %}

<p>Explanatory text here.</p>

<form action="" method="post">
	{% csrf_token %}
	{{ form.media }}
	{{ form.as_p }}
	<input type="submit" value="Update" />
</form>

{% endblock %}
