{% extends layout_template %}

{% block head_title %}{{ view.object.emailtemplate }} - Reporting cycle for year {{ view.object.cycle.year }} - {% endblock %}

{% block content %}

<h1>{{ view.object.emailtemplate }}</h1>

{% include 'notifications/emailtemplate_actions.html' with object=view.object page='view' %}

<p>Explanatory text here.</p>

<h2>Subject</h2>
<div class="preview-body">{{ view.object.subject }}</div>

{% with params=view.object.get_parameters %}
	{% if params %}
		<h2>Parameters</h2>
		<div class="preview-body">
			<ul>
				{% for param in params %}
					<li>{{ param }}</li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}
{% endwith %}

<h2>Body</h2>
<div class="preview-body">{{ view.object.body_html|safe }}</div>

{% endblock %}
