<div class="cycle-stage">
  Showing {{ items.start_index }}-{{ items.end_index }} out of
  {{ items.paginator.count }} persons in registry.
  <br>
  {% include 'notifications/_page_controls.html' with items=items req_page=req_page section=section %}
</div>

<table class="brn-table">
  <thead>
  <tr>
    <th class="user">Username</th>
    <th class="company">Company/Country</th>
    <th class="contact">Contact/Email</th>
  </tr>
  </thead>
  <tbody>
  {% for item in items %}
    <tr id="{{ item.username }}">
      <td>{{ item.username }}</td>
      <td>
        <ul>
          <li>
            {{ item.company.name }}
            <br/>
            <small>{{ item.company.country }}</small>
          </li>
        </ul>
      </td>
      <td>
        {{ item.name }}
        <br/>
        <small>{{ item.email }}</small>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
